* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 17px;
  line-height: 1.8;
  background-color: #888;
}

.main-section {
  background-color: #fff;
  width: 40%;
  margin: 9rem auto;
  border: 2px solid rgb(160, 159, 159);
  text-align: start;
  z-index: 901;
}

p {
  color: gray;
  text-align: start;
  margin-left: 1rem;
}

.headline {
  border-bottom: 2px solid rgb(209, 206, 206);
  color: gray;
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.rotate,
.arrow {
  text-align: end;
}

.fa-rotate {
  padding: 0 0.6rem;
  font-size: 0.9rem;
}

.fa-arrow-left {
  padding: 0.9rem 0.6rem;
  font-size: 0.8rem;
}

input {
  width: 100%;
  padding: 0.9rem;
  background-color: transparent !important;
  border: none !important;
}

input:focus {
  outline: none;
}

#todo-items li {
  list-style-type: none;
}

.check-mark {
  text-decoration: line-through;
}

.list-item-hover {
  background-color: #1fdfed;
}

.list-wrap {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr 1fr 0.5fr);
  align-items: center;
  padding: 0.2rem 0;
  border-bottom: 1px solid rgb(231, 219, 219);
}

.text-input {
  grid-column: 2/9;
}

.hide {
  display: none;
}

.icons {
  text-align: right;
  padding-right: 2rem;
  color: gray;
}

.list-section {
  border-bottom: 2px solid rgb(170, 170, 170);
  color: gray;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body {
  font-family: 'Exo', sans-serif;
}

.context {
  width: 100%;
  position: absolute;
  top: 0;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}
