* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  text-decoration: none;
}

html {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 62%;
}

.container {
  width: 960px;
  margin: 0 auto;
  margin-top: 16rem;
  border: 1px solid #e6e6e6;
  box-shadow: 0 1.6rem 2rem #e6e6e6;
  z-index: 9;
}

.title,
.input-container,
.lists {
  border-bottom: 1px solid #e6e6e6;
  padding: 1.6rem;
}

.title,
.input-container {
  display: flex;
  justify-content: space-between;
}

.title i {
  color: #cfcfcf;
  font-size: 32px;
  font-weight: bold;
}

.list {
  list-style: none;
  font-size: 1.6rem;
}

.list li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 11px;
  border-bottom: 1px solid #f0eeee;
}

.list .check {
  display: flex;
  align-items: center;
}

.title h2 {
  font-size: 32px;
  color: #464646;
}

.list .check h2 {
  font-size: 40px;
  padding: 0 16px;
  color: #807f7f;
  font-style: italic;
}

.icon i {
  color: #cfcfcf;
  font-size: 40px;
  cursor: cell;
}

.clear-container {
  padding: 25px;
  display: flex;
  justify-content: center;
  background-color: #f8f8f8;
}

.input-container input {
  border: none;
  font-size: 28px;
  padding: 0.4rem;
}

.input-container input::placeholder {
  font-style: italic;
  color: #cfcfcf;
}

.btn {
  cursor: pointer;
  background: none;
  border: none;
}

.btn-clear {
  color: #5c5c5c;
  font-size: 25px;
  font-weight: 600;
}
