* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: darkgray;
}

.main-section {
  background-color: #fff;
  width: 40%;
  margin: 9rem auto;
  border: 2px solid gainsboro;
  text-align: start;
  z-index: 900;
}

p {
  color: gray;
  text-align: start;
  margin-left: 0.9rem;
}

.headline {
  border-bottom: 1px solid rgb(231, 219, 219);
  color: gray;
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 100px;
}

.rotate,
.arrow {
  text-align: end;
}

.fa-rotate {
  padding: 0 0.5rem;
  font-size: 0.8rem;
}

.fa-arrow-left {
  padding: 1rem 0.6rem;
  font-size: 0.7rem;
}

input {
  width: 100%;
  padding: 0.8rem;
  background-color: transparent !important;
  border: none !important;
}

input:focus {
  outline: none;
}

#list-items li {
  list-style-type: none;
  font-size: 20px;
  font-weight: 700;
}

.list-item-hover {
  background-color: #1fd5ed;
}

.list-wrap {
  display: grid;
  grid-template-columns: repeat(3, 0.5fr 1fr 0.5fr);
  align-items: center;
  padding: 0.4rem 0;
  border-bottom: 1px solid rgb(177, 175, 175);
}

.text-input {
  grid-column: 2/9;
}

.hide {
  display: none;
}

.icons {
  text-align: right;
  padding-right: 1rem;
  color: gray;
}

.list-section {
  border-bottom: 1px solid rgb(231, 219, 219);
  color: gray;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* CSS animation */
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');

body {
  font-family: 'Exo', sans-serif;
}

.context {
  width: 100%;
  position: absolute;
  top: 0;
}

.context h1 {
  text-align: center;
  color: #fff;
  font-size: 50px;
}
